* {
    margin: 0px;
}
body {
    background-color: rgb(194, 152, 192);
}

header {
    background-color: rgb(169, 169, 169);
    text-align: center;
}

div {
    margin: 8px;
    text-align: center;
}

ul {
    list-style: none;
}